.App {
  text-align: center;
}


.music {
  color: white;
  position: absolute;
  right: 100px;
  bottom: 100px;
  transition: all .2s;
  font-size: 120%;
  cursor: pointer;

}
.music:hover {
  font-size: 150%;
}